{% load startswith %}

<ul class="menu-services">
  <li><a href="{% url 'front_page' %}"{% if request.path = '/' %} class="active"{% endif %}>front page</a></li>
  <li><a href="{% url 'services:index' 'hn' %}"{% if request.path|startswith:'/hn/' %} class="active"{% endif %}>hn</a></li>
  <li><a href="{% url 'services:index' 'github' %}"{% if request.path|startswith:'/github/' %} class="active"{% endif %}>github</a></li>
  <li><a href="{% url 'services:index' 'nytimes' %}"{% if request.path|startswith:'/nytimes/' %} class="active"{% endif %}>nytimes</a></li>
  <li><a href="{% url 'services:index' 'mingjing' %}"{% if request.path|startswith:'/mingjing/' %} class="active"{% endif %}>明鏡</a></li>
</ul>
